*{
    font-family: "Noto Emoji", sans-serif;
}
body{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.blackpiece{
    color: black;
    text-align: center;
    position: absolute;
    user-select: none;
    text-shadow: rgb(255, 255, 255) 0px 0px 5px;
    height: 62.5px;
    width: 62.5px;
    margin: 0;
    font-size: 45px;
    transition: top 0.1s, bottom 0.1s;
}
.whitepiece{
    color: white;
    text-align: center;
    position: absolute;
    user-select: none;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
    height: 62.5px;
    width: 62.5px;
    margin: 0;
    font-size: 45px;
    transition: top 0.1s, bottom 0.1s;
}
.board{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: rgb(77, 44, 14);
    border: outset rgb(128, 74, 24) 15px;
}
.blackspace{
    display:grid;
    grid-template: 1fr / 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(71, 71, 71);
}
.whitespace{
    display:grid;
    grid-template: 1fr / 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(187, 185, 185);
}
.piececontainer{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    border: black 5px dotted;
    height: 500px;
    width: 200px;
    margin: auto;
}
.emptypiece{
    color: rgba(140, 140, 140, 0.4);
    text-align: center;
    user-select: none;
    text-shadow: rgb(95, 95, 95) 0px 0px 30px;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 45px;
}